<section class="delete-user-container">
    <h1>Delete User</h1>
    <hr/>
    <span>
        Are you sure you want to delete the user?
    </span>
    <a asp-action="DeleteUser" asp-controller="Admin">DELETE USER</a>
</section>