/*
    change password container
*/
.change-password-container {
    width: 50%;
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 10em;
    position: relative;
    top: 7.5em;
    left: 25%;
    transition: background-color 500ms ease-in-out;
}

.change-password-container:hover {
    background-color: lightyellow;
}

/*
    change password's hr
*/

.change-password-container > hr {
    width: 40%;
    position: relative;
    left: 30.5%;
}

/*
    change password's h1
*/

.change-password-container > h1 {
    text-align: center;
    margin: 0.5em;
}

/*
    change password's form
*/

.change-password-container > form {
    margin: 2em;
}

/*
    change password's form content
*/

.change-old-password, .set-new-password, .confirm-new-password {
    width: 65%;
    margin: 1em;
    position: relative;
    left: 15%;
}

.change-password-container > form > button {
    padding: 1.5em;
    border: none;
    border-radius: 4px;
    margin: 1em;
    position: relative;
    left: 32%;
    background-color: lightgreen;
    transition: 300ms ease-in-out;
}

.change-password-container > form > button:hover {
    opacity: 0.8;
    transition: 300ms ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}