/*
    forgot password container
*/

.forgot-password.container {
    width: 65%;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    margin: 5em;
    padding: 4em;
    position: relative;
    left: 10%;
    transition: background-color 500ms ease-in;
}

.forgot-password.container:hover {
    background-color: lightyellow;
}

/*
    forgot password headers
*/

.forgot-password.container > h1, .forgot-password.container > h2 {
    text-align: center;
}

/*
    forgot password's email form
*/

.forgot-password {
    width: 70%;
    margin: 1em;
}

/*
    forgot password's button container
*/

.forgot-password-button {
    width: 50%;
}

/*
    forgot password's button
*/


.forgot-password-button > button {
    position: relative;
    left: 52%;
}