/*
    navigation bar
*/

.nav-display {
    width: 100%;
    height: 60px;
    background-color: lightgoldenrodyellow;
    position: fixed;
    z-index: 1000;
    box-shadow: 2px 1px 5px rgb(8, 8, 8);
    transition: 0.5s ease-in-out;
}

.nav-list {
    height: inherit;
    display: flex;
    justify-content: center;
}

.nav-hidden {
    transform: translateY(-60px);
}

/*
    navigation bar logo
*/

.nav-logo > img {
    width: 50px;
    position: relative;
    bottom: 0.6em;
    right: 40%;
}


/*
    navigation bar elements
*/

.nav-list > li {
    margin: 1em 8em auto 0;
    position: relative;
    left: 2.5%;
}

.nav-user {
    position: relative;
}

.nav-logOut {
    position: relative;
    bottom: 15%;
}

.nav-register, .nav-logIn {
    position:relative;
    bottom: 0.5em;
}

/*
    dropdown-menu
*/
.dropdown-menu {
    display: block;
    background-color: lightgoldenrodyellow;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    position: absolute;
    left: -3.5em;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.nav-user:hover .dropdown-menu {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li:hover {
    background-color: lightyellow;
    transition: 0.5s ease-in-out;
}