@model AddArticleModel

<section class="add-article-container">
    <div class="container">
        <h1>Create Article</h1>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="add-article-form">
                    <form asp-action="Add" asp-controller="Article" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input asp-for="Title" class="form-control" id="Title" placeholder="Title" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="ImageFile">Image File</label>
                            <input asp-for="ImageFile" class="form-control" id="ImageFile" aria-required="true" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Content">Content</label>
                            <textarea asp-for="Content" class="form-control" id="Content" placeholder="Content" rows="8" cols="50"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">CREATE ARTICLE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>