@model EditArticleModel

<section class="edit-article-container">
    <div class="container">
        <div class="edit-header">
            <h1>Edit Article</h1>
            <hr />
        </div>
        <div class="edit-article-form">
            <form asp-action="Edit" asp-controller="Article" asp-route-articleId="@Model.ArticleId" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group title-edit-container">
                    <label for="Title">Title</label>
                    <input asp-for="Title" class="form-control" id="Title" placeholder="Title" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group image-edit-container">
                    <label for="ImageFile">Image File</label>
                    <input asp-for="ImageFile" class="form-control" id="ImageFile" aria-required="true" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group content-edit-container">
                    <label for="Content">Content</label>
                    <textarea asp-for="Content" class="form-control" id="Content" placeholder="Content" rows="8" cols="50"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group category-edit-container">
                    <label for="Category">Choose a category:</label>
                    <select asp-for="Category" class="form-control" id="Category">
                        <option value="Amusement">Amusement</option>
                        <option value="Educational">Educational</option>
                        <option value="Appeal">Appeal</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">EDIT ARTICLE</button>
            </form>
        </div>
    </div>
</section>
