<head>
    <title>404 - Page not found</title>
</head>
<body>
    <section class="error-500-container">
        <h1>500 - Internal Server Error</h1>
        <p>Something went wrong on the server.</p>
    </section>
</body>

