/*
    forgot password container
*/

.forgot-password-container {
    width: 55%;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 10em;
    padding: 4em;
    position: relative;
    top: 7.5em;
    left: 22%;
    transition: background-color 500ms ease-in;
}

.forgot-password-container:hover {
    background-color: lightyellow;
}

/*
    forgot password headers
*/

.forgot-password-container > h1, .forgot-password-container > h2 {
    text-align: center;
}

.form-forgot-password {
    margin: 2em;
}

/*
    forgot password's email form
*/
.forgot-password-content {
    position: relative;
    left: 15%;
    width: 70%;
}

/*
    forgot password's button container
*/

.forgot-password-button {
    width: 30%;
}

/*
    forgot password's button
*/


.forgot-password-button > button {
    font-size: 1.2em;
    background-color: lightgreen;
    border: none;
    border-radius: 4px;
    padding: 0.7em;
    position: relative;
    top: 1.5em;
    left: 115%;
    transition: 300ms ease-in-out;
}

.forgot-password-button > button:hover {
    opacity: 0.8;
    transition: 300ms ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
