button, a {
    border: none;
    outline: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer; 
}

.text-center {
    border:none;
}

.container {
    background-color: white;
    margin-bottom: 10em;
    position: relative;
    top: 5em;
    padding: 20px;
}

.title {
    text-align:center;   
}