/*
    registration container
*/

.register-container {
    width: 85%;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 8em;
    transition: background-color 500ms ease-in;
    position:relative;
    top: 4em;
    left: 10%;
}

.register-container > hr {
    width: 55%;
    position: relative;
    left: 23%;
}

.register-container:hover {
    background-color: lightyellow;
}

/*
    registration header
*/

.register-container > h1 {
    border:none;
    margin-top: 0.5em;
}

/*
    registration first name and last name
*/

.usernames-container {
    display: flex;
    margin: 1.5em auto 1.5em auto;
}

.register-firstName {
    margin-right: 1em;
}

/*
    registration email, registration password, registration confirmed password
*/

.register-email, .register-password, .register-confirmPassword {
    width: 50%;
    margin-bottom: 1em;
}

/*
    registration form
*/

/*
    registration button
*/

.register-button {
    width: 50%;
    margin: 1.5em;
    position: relative;
    left: 22%;
}

/*
    footer registration and log in
*/

.footer {
    font-size: 1.2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}