/*
    reset password confirmation container.
*/

.reset-password-confirmation-container {
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
    width: 60%;
    margin-bottom: 15em;
    position: relative;
    top: 9em;
    left: 20%;
    transition: background-color 500ms ease-in;
}

.reset-password-confirmation-container:hover {
    background-color: lightyellow;
}

.reset-password-confirmation-container > h1, .reset-password-confirmation-container > p {
    text-align: center;
}

/*
    reset password confirmation header.
*/

    .reset-password-confirmation-container > h1 {
        margin-top: 1.5em;
    }

/*
    reset password confirmation log in button.
*/

.reset-password-log-in {
    font-size: 1.2em;
    border-radius: 4px;
    background-color: lightgreen;
    padding: 0.7em 1em;
    margin-top: 2em;
    display: inline-block;
    transition: 300ms ease-in-out;
}

.reset-password-log-in:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
