@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Flower Lovers</h1>
    <img class="front-image" src="@Url.Content("~/Content/Images/flower_poster.jpg")"></img>
    <p>This is a safe space for flower admirers of any kind and interest.</p>
</div>
