@model ForgotPasswordModel

<section class="forgot-password-container">
    <h1>Forgot your password?</h1>
    <h2>Enter your email.</h2>
    <hr />
    <div class="form-forgot-password">
        <form class="form" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-floating forgot-password-content">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="forgot-password-button">
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}