<section class="personal-data-container">
    <h1>
        Personal Data
    </h1>
    <hr/>
    <div class="personal-data-content">
        <p>Your account contains personal data that you have given us. This page allows you delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <a id="delete" asp-action="DeletePersonalData" asp-controller="Identity">Delete</a>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
