<div class="reset-password-confirmation-container">
    <h1>Reset password confirmation</h1>
    <p>
        Your password has been reset. Please click here to  
    </p>
    <a class="reset-password-log-in" asp-controller="Identity" asp-action="LogIn">log in</a>
</div>