@model ResetPasswordModel

<section class="reset-password-container">
    <h1 class="text-center">Reset password</h1>
    <hr />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Token" type="hidden" />
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Email" class="form-label"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Password" class="form-label"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
