<div class="reset-password-confirmation-container">
    <h1 class="text-center">Reset password confirmation</h1>
    <p class="text-center">
        Your password has been reset. Please click <a href="@Url.Action("LogIn", "Identity")">here</a> to log in.
    </p>
</div>