/* 
    edit account section 
*/
.edit-account-section {
    margin-bottom: 10em;
}

/* 
    edit account section's content 
*/

.edit-account-section > h1 {
    text-align: center;
}

.edit-account-section > hr {
    width: 22%;
    margin: 0 auto 3em;
}

/* 
    edit account section's form 
*/

.edit-account-form {
    margin-bottom: 7em;
}

/* 
    edit account section's form button 
*/

.edit-account-form > form > button {
    font-size: 2em;
    transition: 300ms ease-in-out;
}

.edit-account-form > form > button:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
