@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--    Setting every stylesheet in the web application     -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/homePage.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/navigationBar.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/introducement.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/registration.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/logIn.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/resetPasswordConfirmation.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/forgotPassword.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/resetPassword.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/changePassword.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/personalData.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Identity/deletePersonalData.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Account/userAccount.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Account/editAccount.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Article/detailsArticle.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Article/addArticle.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Article/mainPage.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Article/savedArticles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Article/rateArticle.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Article/editArticle.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Admin/deleteArticle.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Filter/filterArticles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Filter/categoryFilter.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Search/searchArticles.css" asp-append-version="true" />

        <title>Flower Lovers</title>
    </head>
    <body>
    <header>
        <nav class="nav-display nav-articles">
            <ul class="nav-list">
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
        <div class="container">
            <main role="main" class="pb-3">
            @RenderBody()
            </main>
        </div>
        <footer>
            <span>
                &copy; 2024 - FlowerLovers
            </span>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/slider.js" asp-append-version="true"></script>
        <script src="~/js/navigationBar.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
