<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="filter-container">
                <div class="filter-header">
                    <h1>Set category</h1>
                    <hr />
                </div>
                <form asp-controller="Search" asp-action="FilterArticles" method="get">
                    <div class="mb-3">
                        <label for="category" class="form-label">Category:</label>
                        <select name="category" class="form-select">
                            <option value="Amusement">Amusement</option>
                            <option value="Educational">Educational</option>
                            <option value="Appeal">Appeal</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">FILTER</button>
                </form>
            </div>
        </div>
    </div>
</section>
