/* 
    Add article container
*/
.add-article-container {
    margin-bottom: 12em;
}

.add-article-container > h1 {
    text-align: center;
    margin-top: 1em;
}

.add-article-container > hr {
    width: 15.5%;
    margin: 0 auto 2em;
}

/*
    Add article form
*/

.add-article-form {
    margin-bottom: 5em;
}

.add-article-form > form > button {
    margin-top: 2em;
}
