/* 
    details article container 
*/

.details-article-container {
    margin-bottom: 12em;
    position: relative;
    top: 6em;
}

/* 
    details article header 
*/

.details-header-container > h1 {
    text-align: center;
    margin-top: 3em;
}

.details-header-container > hr {
    width: 20%;
    margin: 0 auto;
}

/* 
    details article content 
*/

.article-border-content {
    margin: 3em 0;
}

.article-details-content {
    margin-bottom: 2em;
}

/* 
    details article buttons 
*/

.delete-article-button {
    margin-right: 1em;
}

.edit-article-button {
    margin-right: 1em;
}

/* 
    details article average rate and date 
*/

.rate-date-container {
    width: max-content;
    margin-bottom: 2em;
    position: relative;
    left: 38%;
}

.average-rate {
    text-align: center;
    margin-bottom: 0.5em;
}

/* User picture */
.publisher-container > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}