/* 
    edit article container 
*/

.edit-article-container {
    margin-bottom: 13em;
    position: relative;
    top: 7.5em;
}

.edit-article-container:hover {
    background-color: lightyellow;
    transition: background-color 500ms ease-in-out;
}

/* 
    edit header
*/

.edit-header {
    margin-bottom: 2em;
}

.edit-header > h1 {
    margin: 0.5em;
    text-align: center;
}

.edit-header > hr {
    width: 28%;
    margin: 0 auto;
}

/* 
    edit article form 
*/

.edit-article-form {
    margin-bottom: 8em;
}

.title-edit-container, .image-edit-container, .content-edit-container, .category-edit-container {
    margin-bottom: 1em;
}

.content-edit-container > textarea {
    width: 100%;
}

/* 
    edit article form button 
*/

.edit-article-form > form > button {
    margin-top: 2em;
}
