/* 
    rate article container
*/

.rate-article-container {
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20em;
    position: relative;
    top: 12em;
}

.rate-article-container:hover {
    background-color: lightyellow;
}

/* 
    rate article header 
*/

.rate-article-container > h1 {
    text-align: center;
    margin: 0.5em;
}

.rate-article-container > hr {
    width: 35%;
    margin: 0 auto;
}

/* 
    rate article form 
*/

.rate-form {
    width: max-content;
    margin-bottom: 5em;
    margin: 0 auto;
}

/* 
    rate article form contents
*/

.rate-form > form > select {
    border-radius: 4px;
    margin-right: 0.5em;
}

.rate-form > form > select > option {
    padding: 1em;
}

.rate-form > form > button {
    border-radius: 4px;
    padding: 0.5em 2em;
    margin-top: 1em;
}

.rate-form > form > button:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
